/* Global styles
-------------------------*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: 'KoHo', sans-serif;
  margin: 0;
}
h6
{
  font-family: 'Algerian';
  font-size: 20px;
}
h1, h2 {
  font-family: 'Cormorant', serif;
  font-weight: 400;
}
h1 {
  font-size: 60px;
}
h2 {
  font-family: 'Algerian';
  font-size: 24px;
  margin-top: 0;
}
.col1
{
  height:180px; width:150px; box-shadow: 4px 4px rgba(0, 0, 0,0.5);
}
.col1 img
{
   height:100px; width:100px; margin-top: 20px; margin-left: 30px; 
}
img{
  width: 50px;
  height: 150%;
}
h3 {
  margin: 0;
}
a {
  color: #22a79c;
}
a:hover {
  text-decoration: none;
}
.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 50px 50px;
  overflow: hidden;
}
.hide {
   display: none;
}
.uppercase {
  text-transform: uppercase;
}

/* Download button */
.btn {
  text-decoration: none;
  background: #22a79c;
  color: white;
  padding: 10px;
  display: inline-block;
}
.btn:hover{
  background-color:slategrey ;
}


/* Header and Footer
-------------------------*/
header, footer {
  background: black;
  color: #dddddd;
}
/* header */
header {
  padding-top: 50px;
  position: relative;
}
header h1, header h2 {
  color: #EDF2F4;
  margin: 0;
}
.profile-img {
  border-radius: 50%;
}

.content-wrap img {
  width: 200px;
  height: 200px;
}

.download {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* footer */
footer {
  text-align: center;
}
.contact-info a {
  padding: 10px;
  display: inline-block;
}


/* Navigation
-------------------------*/
nav {
  text-align: center;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  /*z-index: 100;*/
}
nav a {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}


/* Work Experience
-------------------------*/
.work {
  background: #ffffff;
}
h3 ~ p {
  margin: 0;
}
.job-description {
  margin-bottom: 25px;
}
.job-description p:first-of-type {
  margin-top: 0;
}

/* Skills
-------------------------*
.row div
{
  width:22%;
  display:inline-block;
  text-align:left;
  padding:5px;

}
.row img
{
  width:70%;
  height:32%;
}


/* Education
-------------------------*/
.education {
  background: white;
  background-size: cover;
}
p + h3 {
  margin-top: 30px;
}
/* Media Queries
-------------------------*/
@media (min-width: 900px) {
  .col-narrow {
    width: 30%;
    float: left;
  }
  .col-wide {
    width: 70%;
    float: left;
    padding-left: 20px;
  }
}
@media (max-width: 899px){
  header {
    text-align: center;
  }
  .profile-img {
    width: 200px;
  }
}
.social ul li
{
  display:inline-block;
  padding:8px;
  text-align:center;
}






